version: 2.1
orbs:
  aws-cli: circleci/aws-cli@2.0.6
  aws-ecs: circleci/aws-ecs@2.2.1
  aws-ecr: circleci/aws-ecr@7.3.0

## ALIASES ##
global_work_dir: &work_dir "/tmp/cci-work-dir"
aws_img: &aws_img
  docker:
    - image: animaldna/aws-jq-py:latest
      auth:
        username: $DOCKERHUB_USER
        password: $DOCKERHUB_PASSWORD
production_only: &prod_only
  filters:
    branches:
      only: master
dev_only: &dev_only
  filters:
    branches:
      only: dev
test_only: &test_only
  filters:
    branches:
      only: ecs-orb-test

## COMMANDS ##
commands:
  chown_cache_dirs:
    steps:
      - run:
          name: chown cache directories
          command: |
            sudo chown -R circleci:circleci /usr/local/bin
            sudo chown -R circleci:circleci /home/circleci/.pyenv/versions/3.9.9/lib/python3.9/site-packages
            sudo chown -R circleci:circleci /home/circleci/.local/share/
  run_tests:
    steps:
      - run:
          name: Run pytest
          command: |
            mkdir test-results
            pipenv run pytest -v --junitxml=test-results/junit.xml
  pull_task_template:
    steps:
      - run:
          name: Pull latest task definition template
          command: |
            set -x
            aws ecs describe-task-definition \
            --task-definition=${TARGET_ENV}-${CIRCLE_PROJECT_REPONAME}-task-template \
            >> task_template.json
            cat task_template.json
  setup_new_task_def:
    steps:
      - run:
          name: Generate new task definition file from template
          command: |
            export NEW_IMAGE=666431669894.dkr.ecr.us-east-2.amazonaws.com/$CIRCLE_PROJECT_REPONAME:$CIRCLE_SHA1-$TARGET_ENV
            jq --arg REPO_NAME "dev-${CIRCLE_PROJECT_REPONAME}-task" --arg IMAGE "${NEW_IMAGE}" \
            '.taskDefinition.containerDefinitions[0].image |= $IMAGE
            | .taskDefinition.family |= $REPO_NAME
            | { "containerDefinitions": [.taskDefinition.containerDefinitions[0]],
            "family": .taskDefinition.family,
            "taskRoleArn": .taskDefinition.taskRoleArn,
            "executionRoleArn": .taskDefinition.executionRoleArn,
            "networkMode": .taskDefinition.networkMode,
            requiresCompatibilities: .taskDefinition.requiresCompatibilities,
            "cpu": .taskDefinition.cpu,
            "memory": .taskDefinition.memory }' task_template.json \
            | sponge new_task_definition.json
      - run:
          command: |
            cat new_task_definition.json
  register_with_ecs:
    steps:
      - run:
          name: Register new task definition with ECS
          command: |
            set -x
            aws ecs register-task-definition --cli-input-json file://new_task_definition.json

jobs:
  run_unit_tests:
    resource_class: small
    parameters:
      job_image:
        description: Docker image for running unit tests
        type: string
        default: cimg/python:3.9
    working_directory: ~/app
    docker:
      - image: << parameters.job_image >>
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
        environment:
          AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
          AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
          AWS_DEFAULT_REGION: $AWS_REGION
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - chown_cache_dirs
      - restore_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          command: pipenv install
      - save_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/home/circleci/.pyenv/versions/3.9.9/lib/python3.9/site-packages"
            - "/home/circleci/.local/share/virtualenvs/"
      - run_tests
      - store_test_results:
          path: test-results          
  build_and_push:
    resource_class: small
    parameters:
      job_image:
        description: Docker image for building + pushing to ECR
        type: string
        default: cimg/python:3.9
      target_repo:
        description: The repo to push the new image to.
        type: string
    working_directory: ~/app
    docker:
      - image: << parameters.job_image >>
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
    steps:
      - when:
          condition:
            equal: [master, << pipeline.git.branch >>]
          steps:
            - run: echo "TARGET_ENV=prod" >> $BASH_ENV
      - when:
          condition:
            not:
              equal: [master, << pipeline.git.branch >>]
          steps:
            - when:
                condition:
                  equal: [stage, << pipeline.git.branch >>]
                steps:
                  - run: echo "TARGET_ENV=stage" >> $BASH_ENV
            - unless:
                condition:
                  equal: [stage, << pipeline.git.branch >>]
                steps:
                  - run: echo "TARGET_ENV=dev" >> $BASH_ENV
      - run:
          command: |
            echo $TARGET_ENV > /tmp/target_env.txt
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - chown_cache_dirs
      - run: 
          command: aws ecr get-login-password | docker login -u ${AWS_ACCESS_KEY} AWS --password-stdin ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com
      - run:
          command: |
            docker build -t ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/<< parameters.target_repo >>:${CIRCLE_SHA1}-${CURRENT_ENV} .
            docker push ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/<< parameters.target_repo >>:${CIRCLE_SHA1}-${CURRENT_ENV}
      - persist_to_workspace:
          root: /tmp
          paths: 
            - current_env.txt
  register_new_task:
    resource_class: small
    <<: *aws_img
    working_directory: *work_dir
    environment:
      AWS_PAGER: ""
    steps:
      - attach_workspace:
          at: *work_dir
      - run:
          command: echo 'export TARGET_ENV=$( cat target_env.txt )' >> $BASH_ENV
      - pull_task_template
      - setup_new_task_def
      - register_with_ecs
      - persist_to_workspace:
          root: *work_dir
          paths: 
            - ./new_task_definition.json
  update_service:
    resource_class: small
    <<: *aws_img
    steps:
      # - install_deps
      - attach_workspace:
          at: *work_dir
      - run:
          command: echo 'export TARGET_ENV=$( cat target_env.txt )' >> $BASH_ENV
      - aws-ecs/update-service:
          cluster-name: ${TARGET_ENV}-${CIRCLE_PROJECT_REPONAME}-cluster
          family: ${TARGET_ENV}-${CIRCLE_PROJECT_REPONAME}-task
          service-name: ${TARGET_ENV}-${CIRCLE_PROJECT_REPONAME}-service
          skip-task-definition-registration: true
          verify-revision-is-deployed: true
          force-new-deployment: true


workflows:
  default:
    jobs:
      - run_unit_tests:
          job_image: cimg/python:3.9
      - build_and_push:
          job_image: animaldna/cimg-py-aws:latest
          target_repo: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${CIRCLE_PROJECT_REPONAME}
      # - aws-ecr/build-and-push-image:
      #     executor: aws-cli/default
      #     <<: *test_only
      #     context: catalog_api_dev 
      #     setup-remote-docker: true
      #     remote-docker-layer-caching: true
      #     repo: $CIRCLE_PROJECT_REPONAME
      #     tag: $CIRCLE_SHA1-test
      - register_new_task:
          <<: *test_only
          context: catalog_api_dev
          requires:
            - build_and_push
      - update_service:
          <<: *test_only
          context: catalog_api_dev
          requires: 
            - register_new_task
        