version: 2.1
orbs:
  aws-cli: circleci/aws-cli@2.0.6
  aws-ecs: circleci/aws-ecs@2.2.1
  aws-ecr: circleci/aws-ecr@7.3.0

## ALIASES ##
global_work_dir: &work_dir "/tmp/cci-work-dir"
aws_img: &aws_img
  docker:
    - image: animaldna/aws-jq-py:latest
      auth:
        username: $DOCKERHUB_USER
        password: $DOCKERHUB_PASSWORD
production_only: &prod_only
  filters:
    branches:
      only: master
dev_only: &dev_only
  filters:
    branches:
      only: dev
test_only: &test_only
  filters:
    branches:
      only: ecs-orb-test
## COMMANDS ##
commands:
  chown_cache_dirs:
    steps:
      - run:
          command: |
            sudo chown -R circleci:circleci /usr/local/bin
            sudo chown -R circleci:circleci /home/circleci/.pyenv/versions/3.9.9/lib/python3.9/site-packages
            sudo chown -R circleci:circleci /home/circleci/.local/share/
  run_unit_tests:
    steps:
      - run:
          command: |
            mkdir test-results
            pipenv run pytest -v --junitxml=test-results/junit.xml
  pull_task_template:
    steps:
      - run:
          name: Pull latest task definition template
          command: |
            set -x
            aws ecs describe-task-definition \
            --task-definition=dev-${CIRCLE_PROJECT_REPONAME}-task-template \
            >> task_template.json
            cat task_template.json
  setup_new_task_def:
    steps:
      - run:
          command: |
            jq '.taskDefinition.containerDefinitions[0].image |= WHATEVERTEST \
            | .taskDefinition.family |= "dev-${CIRCLE_PROJECT_REPO_NAME}-task" \
            | { "containerDefinitions": [.taskDefinition.containerDefinitions[0]], \
            "family": .taskDefinition.family, \
            "taskRoleArn": .taskDefinition.taskRoleArn, \
            "executionRoleArn": .taskDefinition.executionRoleArn, \
            "networkMode": .taskDefinition.networkMode, \
            requiresCompatibilities: .taskDefinition.requiresCompatibilities, \
            "cpu": .taskDefinition.cpu,\
            "memory": .taskDefinition.memory }' task_template.json \
            >> new_task_definition.json
      - run:
          command: |
            cat new_task_definition.json

jobs:
  unit_tests:
    parameters:
      unit_test_img:
        description: Docker image for running unit tests
        type: string
        default: cimg/python:3.9
    working_directory: ~/app
    docker:
      - image: << parameters.unit_test_img >>
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
        environment:
          AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
          AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
          AWS_DEFAULT_REGION: $AWS_REGION
    resource_class: small
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - chown_cache_dirs
      - restore_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          command: pipenv install
      - save_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/home/circleci/.pyenv/versions/3.9.9/lib/python3.9/site-packages"
            - "/home/circleci/.local/share/virtualenvs/"
      # - run_unit_tests
      # - store_test_results:
      #     path: test-results
  build_and_push:
    parameters:
      build_img:
        description: Docker image for building + pushing to ECR
        type: string
        default: animaldna/cimg-py-aws:latest
      target_repo:
        description: The repo to push the new image to.
        type: string
    working_directory: ~/app
    docker:
      - image: << parameters.build_img >>
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
    resource_class: small
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - chown_cache_dirs
      - run: 
          command: aws ecr get-login-password | docker login -u ${AWS_ACCESS_KEY} AWS --password-stdin ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com
      - run:
          command: |
            docker build -t ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/<< parameters.target_repo >>:${CIRCLE_SHA1}-stable .
            docker push ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/<< parameters.target_repo >>:${CIRCLE_SHA1}-stable 
      #  - run:
      #     command: |
      #       docker build -t << parameters.target_repo >>:${CIRCLE_SHA1} .
      #       docker tag << parameters.target_repo >>:${CIRCLE_SHA1} ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/<< parameters.target_repo >>:${CIRCLE_SHA1}
      #       docker push ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/<< parameters.target_repo >>:${CIRCLE_SHA1} 
  register_new_task:
    <<: *aws_img
    working_directory: *work_dir
    steps:
      - aws-cli/setup
      - pull_task_template
      - setup_new_task_def
      # - register_new_task_def



workflows:
  default:
    jobs:
      # - run_unit_tests:
      #     parameters:
      #       unit_test_img: cimg/python:3.9
      # - build_and_push:
      #     parameters:
      #       build_img: animaldna/cimg-py-aws:latest
      #       target_repo: 666431669894.dkr.ecr.us-east-2.amazonaws.com/cbergs-discogs
      # - aws-ecr/build-and-push-image:
      #     executor: aws-cli/default
      #     <<: *test_only
      #     context: catalog_api_dev 
      #     setup-remote-docker: true
      #     remote-docker-layer-caching: true
      #     repo: catalog-api
      #     tag: $CIRCLE_SHA1-test
      - register_new_task:
          <<: *test_only
          context: catalog_api_dev
            #   root: *work_dir
            #   paths: 
            #     - ./task_template.json
          



      # CCI_ORB_AWS_ECS_REGISTERED_TASK_DFN
      # - aws-ecs/verify-revision-is-deployed:
      #     cluster-name:
      #     family:
      #     task-definition
      